<header>
    <div class="header-wrapper">
        <div class="header-left">
            <a routerLink="/">
                <img src="/src/assets/img/runpurpose-logo.svg" />
            </a>
        </div>
        <div class="header-right">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/about">About</a>
                </li>
                <li>
                    <a routerLink="/events">Events</a>
                </li>
                <li>
                    <a routerLink="/">Login/Signup</a>
                </li>
                <li>
                    <a routerLink="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</header>