.create-event {
    h1 {
      font-size: 2em;
      padding: 1em 0em .4em;
    }
    .create-event-form {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      .input-field {
        padding-bottom: 2em;
      }
      label {
        padding: 1em 0em .6em;
        display: block;
        font-size: 1.6em;
      }
      input, textarea {
        height: 30px;
        padding: 0em 1em;
        border: 2px solid pink;
        border-radius: 7px;
        &::-webkit-input-placeholder {
          color: #cccccc;
        }
      }
      textarea {
        height: 60px;
        padding: 1em;
      }
    }
    .submit-form {
      height: 70px;
      background: linear-gradient(-216deg, #FFEB3B, #00BCD4);
      box-shadow: 1px -4px 13px 4px #6388f5;
      transition: all 0.2s ease-in-out;
      padding: 0em 3em;
      color: white;
      font-weight: bold;
      font-size: 1.1em;
      margin-top: 3em;
      text-shadow: -7px -2px 14px #db12fb;
      font-size: 3em;
      cursor: pointer;
      &:hover {
        background: linear-gradient(-166deg, #d0f312, #ff3ba2);
        box-shadow: 8px -5px 20px 5px #2de20e;
        transform: rotate(5deg);
      }
      &:active {
        background: linear-gradient(-216deg, #00BCD4, #FFEB3B);
        box-shadow: -4px 17px 20px 5px #e27c0e;
        transform: rotate(10deg);
      }
    }
}